<h1>Sample Application</h1>

<p>
  Here is my sample application for 
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial </a>.
</p>

<%= link_to "Register!", '#', :class => "signup_button round" %>

